<div class="card mb-4 wow fadeIn">
  <div class="card-body">
    <h4 class="mb-sm-0 pt-3">
      <span>Please check lyrics of your song below and confirm to generate a clip</span>
    </h4>

    <form class="md-form justify-content-center" (ngSubmit)="onSubmit()">
      <textarea class="form-control md-textarea md-textarea-auto lyrics-area" placeholder="Enter lyrics yourself"  [(ngModel)]="lyrics" name="lyrics"></textarea>
      <button class="btn btn-success" type="submit">Create Clip!</button>
    </form>
  </div>
</div>