<div class="card mb-4 wow fadeIn">

  <div class="card-body">
    <h4 class="mb-sm-0 pt-3">
      <span>Find your song using search or your microphone</span>
    </h4>

    <form class="md-form justify-content-center">
      <span>Click here to record audio using microphone (up to 15 seconds):</span>
      <button class="btn btn-primary my-0 p" (click)="onRecord()">
        <i class="fa" [ngClass]="{'fa-microphone': !isRecording, 'fa-stop': isRecording}"></i>
      </button>
      <span *ngIf="isRecording">Recording...</span>
    </form>

    <hr/>

    <form class="d-flex md-form justify-content-center" (ngSubmit)="onSearch(1)">
      <input type="search" placeholder="Search title or artist" aria-label="Search" class="form-control" [(ngModel)]="searchQuery" name="searchQuery">
      <button class="btn btn-primary my-0 p" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</div>

<div class="card card-cascade narrower mt-5 wow fadeIn" *ngIf="searchResults.length > 0">
  <div class="view gradient-card-header blue darken-2">
      <h4 class="h4-responsive text-white">Search results</h4>
  </div>

  <div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Track</th>
                <th>Album</th>
                <th>Artist</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trackData of searchResults">
              <td>{{trackData.track.track_name}}</td>
              <td>{{trackData.track.album_name}}</td>
              <td>{{trackData.track.artist_name}}</td>
              <td><a class="btn btn-primary" (click)="onSelect(trackData.track.track_id, trackData.track.track_name)">Select</a></td>
            </tr>
        </tbody>
    </table>
  </div>

  <a class="view gradient-card-header blue darken-2 load-more-results" (click)="onSearch(pageNumber)" *ngIf="hasMoreResults">
    <h3 class="h4-responsive text-white">Load more results...</h3>
  </a>
</div>